body{
    background-color: black;
}
p{
    color: white
}

table {
    /* Use whatever background image (or images) you like */
    background: url("Himejicastle.png") no-repeat;
    table-layout: fixed;
    background-size: 800px;nd
}

/* Set each td size */
td {
    width: 100px;
    height: 100px;
}
}